# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store

# Build output
dist/
build/

# Coverage reports
coverage/

# IDE files
.vscode/
.idea/
*.swp

# Misc
*.tgz